body {
    margin: 0;
    font-family: 'Press Start 2P', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #222;
    color: white;
  }
  
  .leaderboard-container {
    text-align: center;
  }
  
  .leaderboard-title {
    font-size: 3rem;
    margin: 0 0 20px;
    color: #FFD700;
  }
  
  .leaderboard-list {
    list-style: none;
    padding: 0;
    font-size: 2rem;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  button {
    font-size: 1.5rem;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #28A745;
    border: none;
    color: white;
    border-radius: 5px;
    box-shadow: 0 4px #1c7430;
    margin-top: 20px;
  }
  
  button:active {
    transform: translateY(2px);
    box-shadow: 0 2px #1c7430;
  }
  